.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradlew
app/build
ServiceJobPattern.iml
app/libs
.idea
gradlew.bat
local.properties
gradle.properties
gradle
build
app/app.iml